---
interface SubmenuItem {
  title: string;
  href: string;
  children?: Array<SubmenuItem>;
}
interface Props {
  title: string;
  href: string;
  children?: Array<SubmenuItem>;
}

const { title, href, children } = Astro.props;
const current = Astro.url.pathname == href;
---

<a
  href={href}
  title={title}
  aria-current={current}
  data-subnav={children && true}
  data-astro-reload={children && true}
>
  {title}
</a>
{
  children && (
    <div>
      <span>{title}</span>
      <button>Back</button>
      <ul data-parent={title}>
        {children.map((child) => (
          <li>
            <Astro.self
              title={child.title}
              href={child.href}
              children={child.children}
            />
          </li>
        ))}
      </ul>
    </div>
  )
}

<script></script>
<style></style>
